.no-select {
  user-select: none;
}

/* Preview.css */
/* Preview.css */

.laptop-frame {
  position: relative;
  width: 800px;
  /* Adjust width as needed */
  height: 500px;
  /* Adjust height as needed */
  background-color: #f0f0f0;
  /* Laptop frame color */
  border-radius: 20px;
  /* Rounded corners for the laptop frame */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  /* Drop shadow for the laptop frame */
  margin: 50px auto;
  /* Center the laptop frame */
  overflow: hidden;
  /* Hide content outside the laptop frame */
}

.laptop-screen {
  position: absolute;
  top: 10%;
  /* Adjust top position of the screen content */
  left: 5%;
  /* Adjust left position of the screen content */
  width: 90%;
  /* Adjust width of the screen content */
  height: 80%;
  /* Adjust height of the screen content */
  background-color: white;
  /* Screen background color */
  overflow: hidden;
  /* Disable scrolling within the screen */
}